[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gradio = "*"
opencv-python = "*"
streamlit = "*"
ipykernel = "*"
asyncio = "*"
aiohttp = "*"
stqdm = "*"
joblib = "*"
ultralytics = "*"
supervision = "*"

[dev-packages]

[requires]
python_version = "3.10"
